alembic==1.15.2
APScheduler==3.11.0
boto3==1.37.34
clickhouse-connect==0.8.13
fastapi==0.115.12
pandas==2.2.3
psycopg[binary]==3.2.6
pydantic-settings==2.8.1
SQLAlchemy==2.0.40
tenacity==9.0.0
uvicorn==0.34.1
